<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<proxies>
		<proxy>
			<id>Proxy1</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>proxy.ag.man.de</host>
			<port>8000</port>
			<username></username>
			<password></password>
			<nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
		</proxy>
	</proxies>
	<servers>
		<server>
			<id>mndemucenov.mn-man.biz</id>
			<username>muclv</username>
			<password>muclv</password>
		</server><server>
			<id>mndenbgenov.mn-man.biz</id>
			<username>nbglv</username>
			<password>nbglv</password>
		</server>
	</servers>
</settings>
